/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

/* FIXES */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body,
html {
    min-height: 100vh;
    width: 100vw;
}

/* MAIN DESIGN */

body {
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    color: #cdd6f4;
    background: #1e1e2e;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.profile {
    margin: 24px;
    display: flex;
    padding: 24px;
    background: #181825;
    border-radius: 12px;
    width: 50%;
    flex-direction: column;
    gap: 24px;
}

@media (max-width: 700px) {
    .profile {
        width: calc(100vw);
    }

    .avatar {
        display: none !important;
    }
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #181825;
}

::-webkit-scrollbar-thumb {
    background: #11111b;
}

/* HEADING */

.heading {
    width: 100%;
    text-align: center;
    font-size: 1.1em;
    color: #cba6f7;
}

/* INFORMATION SECTION */

.information {
    display: flex;
    height: fit-content;
    width: 100%;
    gap: 48px;
    justify-content: center;
}

.avatar {
    border-radius: 50%;
    border: 3px solid #11111b;
}

.info-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-div .title {
    font-size: 1.5rem;
}

.info-div .subtitle {
    font-size: 1rem;
    color: #a6adc8;
}

/* ABOUT ME */

.about-me {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 24px;
}

.about-me .info-box {
    background: #11111b;
    flex-grow: 1;
    padding: 12px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.info-box .title {
    color: #a6adc8;
    font-size: 0.8rem;
}

/* SKILLS */

.skills {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
}

.skills p:nth-child(3n-2) {
    color: #f5e0dc;
}

.skills p:nth-child(3n-1) {
    color: #a6e3a1;
}

.skills p:nth-child(3n) {
    color: #f38ba8;
}

/* LANGUAGES */

.languages {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

.languages img,
svg {
    height: 64px;
    border-radius: 6px;
}

/* PROJECTS */

.projects {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 12px;
}

.projects .project {
    background: #11111b;
    padding: 12px;
    border-radius: 6px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 6px;
}

.project .info {
    display: flex;
    align-items: center;
}

.project .info .date {
    color: #a6adc8;
    font-size: 0.8rem;
    margin-left: 6px;
}

.project .description {
    color: #bac2de;
    font-size: 0.9rem;
}
